{% extends 'main.html' %}

{% block content %}

    {% if page == 'login' %}
    <div>
        <form method="post" action="">
            {% csrf_token %}

            <label for="username">Username:</label>
            <input type="text" name="username"  placeholder="Enter your username"><br><br>
            <label for="password">Password:</label>
            <input type="password" name="password"  placeholder="Enter your password"><br><br>
            <input type="submit" value="Login">
        </form>

        <p>Haven't signed up yet ?</p>
        <a href="{% url 'register' %}">Sign up</a>
    </div>

        {% else %}

    <div>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Register">
        </form>

        <p>Already signed up yet ?</p>
        <a href="{% url 'login' %}">Sign in</a>
    </div>

    {% endif %}


{% endblock %}