{% extends 'main.html' %}

{% block content %}

    <style>
    .room-container{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    </style>

    <div class="room-container">

    <div>
        <h1>{{ room.name }}</h1>
<h2>{{ room.description }}</h2>

    <div class="comment-wrapper">
        <h3>Conversation</h3>
        <hr>

        {% for message in room_messages %}
            <div>
                <p> <b>{{ message.user }}</b>- <small> {{ message.created|timesince }} ago </small></p>
                <p>{{ message.body }}</p>
            </div>
        {% endfor %}
    </div>

    {% if request.user.is_authenticated %}
    <div class="comment-form">
        <form method="post" action="">
            {% csrf_token %}
            <input type="text" name="body" placeholder="Write your messages here..">
        </form>
    </div>
    {% endif %}
    </div>

    <div>
        <h2>Participants ({{ count }})</h2>
        <hr>
<ul>
            {% for participant in participants %}
                <li>{{ participant.username }}</li>
            {% endfor %}
        </ul>
    </div>

    </div>


{% endblock %}